<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title MAIN
    body
        .main
            .main__top
                a(href="/") HOME
                a(href="/bread") BREAD
                
            .main__content
                block content