body {
  overflow: hidden;
}

.main {
  width: 100%;
  height: 100%;
}

.main .main__top {
  width: 100%;
  height: 80px;
  padding: 25px;
}

.main .main__top a {
  background: none;

  margin: 70px;
  padding: 30px;

  text-decoration: none;
  color: #3742fa;
  cursor: pointer;
  font-weight: 700;

  transition: 0.7s;
}

.main .main__top a:hover {
  color: #1b9cfc;
}

.main .main__content {
  width: 100%;
  height: 700px;
}

.main .main__content h3 {
  margin-left: 20px;
  margin: 20px;
  font-size: 24px;
  font-weight: 600;
}
